<div class="custom-container">
  <div class="d-flex flex-column">
    <div class="first-section mb-4">
      <h4>Create your user</h4>
      <p>Are you ready to continue creating</p>
    </div>

    <div class="d-flex" id="template-flex">
      <div id="s" (click)="goToaddUSerPage()">
        <div
          id="new-user-button"
          class="d-flex flex-column align-items-center justify-content-center"
        >
          <i class="bi bi-plus-lg"></i>
        </div>
        <h4>New userhi theres</h4>
      </div>

      <div class="vertical-devider"></div>

      <div>
        <p [ngStyle]="{ 'font-weight': '100' }" class="mb-2">
          Prebuilt Templtes
        </p>
        <div id="template-cards-grid">
          <app-prebuilt-template
            *ngFor="let temp of preBuiltTemplates | slice: 0:4"
            [preBuiltTemplate]="temp"
            [showDesc]="false"
          >
          </app-prebuilt-template>
        </div>
      </div>
    </div>

    <div class="second-section d-flex flex-column align-items-center">
      <div class="align-self-end">
        <button type="button" (click)="seeAll()" class="btn btn-secondary">
          {{ !seeAllBoolean ? "See all" : "See less" }}
        </button>
      </div>
      <div class="news">
        <p>Recent users</p>
        <div class="d-flex flex-row align-items-between flex-wrap">
          <app-user-card
            *ngFor="let user of usersList | slice: 0:sliceNumber"
            [name]="user.name"
            [from]="'show-user'"
          >
          </app-user-card>
        </div>
      </div>
    </div>
  </div>
</div>
