<div class="custom-container">
  <div class="d-flex flex-column">
    <div class="first-section mb-4">
      <h4>Create your user</h4>
      <p>Are you ready to continue creating</p>
    </div>
    <div class="d-flex flex-row">
      <div class="recent-users">
        <div class="d-flex flex-row">
          <div id="s" (click)="goToaddUSerPage()" class="d-flex flex-column">
            <div id="new-user-button" class="d-flex flex-column">
              <i class="bi bi-plus-lg"></i>
            </div>
            <p>New user</p>
          </div>
          <div>
            <div [ngStyle]="{ padding: '0 0 1rem 1rem' }">
              <span [ngStyle]="{ 'font-weight': '100' }"
                >Prebuilt Templtes</span
              >
            </div>
            <div id="template-grid">
              <app-prebuilt-template
                *ngFor="let temp of preBuiltTemplates | slice: 0:3"
                [preBuiltTemplate]="temp"
                [showDesc]="false"
              >
              </app-prebuilt-template>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="second-section d-flex flex-column align-items-center">
      <div class="align-self-end">
        <button type="button" (click)="seeAll()" class="btn btn-secondary">
          {{ !seeAllBoolean ? "See all" : "See less" }}
        </button>
      </div>
      <div class="news">
        <p>Recent users</p>
        <div class="d-flex flex-row align-items-between flex-wrap">
          <app-user-card
            *ngFor="let user of usersList | slice: 0:sliceNumber"
            [name]="user.name"
            [from]="'show-user'"
          >
          </app-user-card>
        </div>
      </div>
    </div>
  </div>
</div>
