.user-card {
  width: 140px;
  min-height: 150px;
  position: relative;
  padding: 0;
  border: 1px solid #e6e6e6;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  margin-right: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

  .badge {
    top: 5px;
    right: 5px;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .img {
    opacity: 0.2;
    height: 100px;
    background-image: url('https://thumbs.dreamstime.com/b/aucune-photo-ou-ic%C3%B4ne-d-image-vide-chargement-images-marque-manquante-non-disponible-%C3%A0-venir-silhouette-nature-simple-dans-l-215973362.jpg');
    background-position: center;
    background-size: 200px;
    border-radius: 0.5rem 0.5rem 0 0;

  }

  .card-title {
    text-align: center;
    font-size: .6rem;
    padding: 0;
    margin: 0;
  }

  .card-body {
    background-color: #fff;
    border-radius: 0 0 .5rem .5rem;
    border-top: 1px solid #e6e6e6;
  }
}

.news-card {
  width: 100%;
  height: 250px;

  .img {
    height: 170px;
    opacity: 1 !important;
    background-position: center !important;
    background-size: cover !important;
    border-radius: 0.5rem 0.5rem 0 0;

  }

}

.show-user {
  width: 170px;
  height: 180px;
  margin: 1.5rem;



}
