.card
{    width:80%;max-width:400px;box-shadow:0 10px 10px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
}

.card-title{
    color:  rgba(0, 0, 0, 0.55);
}
.card-img-topcard-img-top{
    width: 100%;
    height: auto;
}