<div
  class="user-card mr-1 mb-2"
  [ngClass]="{ 'news-card': from == 'news', 'show-user': from == 'show-user' }"
>
  <!-- <img
    src="https://thumbs.dreamstime.com/b/aucune-photo-ou-ic%C3%B4ne-d-image-vide-chargement-images-marque-manquante-non-disponible-%C3%A0-venir-silhouette-nature-simple-dans-l-215973362.jpg"
  /> -->

  <div
    class="img"
    [ngStyle]="{
      background: imgUrl
        ? 'url(' + imgUrl + ')'
        : 'https://thumbs.dreamstime.com/b/aucune-photo-ou-ic%C3%B4ne-d-image-vide-chargement-images-marque-manquante-non-disponible-%C3%A0-venir-silhouette-nature-simple-dans-l-215973362.jpg'
    }"
  ></div>
  <div class="card-body">
    <p class="card-title">{{ name }}</p>
  </div>
  <div *ngIf="!!status">
    <span
      class="position-absolute badge bg-primary"
      *ngIf="status === 'active'"
    >
      <i class="bi bi-check-lg"></i>
    </span>
  </div>
</div>
