<div class="user-card mr-1">
  <!-- <img
      src="https://thumbs.dreamstime.com/b/aucune-photo-ou-ic%C3%B4ne-d-image-vide-chargement-images-marque-manquante-non-disponible-%C3%A0-venir-silhouette-nature-simple-dans-l-215973362.jpg"
    /> -->
  <div class="d-flex justify-content-center align-items-center user-card mr-1">
    <div id="new-user-button" class="d-flex flex-column">
      <img class="" [src]="preBuiltTemplate.icon" alt="" />
    </div>
  </div>
</div>
<p>{{ preBuiltTemplate.name }}</p>
