$sidebar-width: 80px;
$navbar-height: 60px;
$sidebar-bgColor: #354463;
$card-user-height:190px;


.header {
  // add navbar position
  position: sticky;
}

/* Sidebar */
.sidebar {
  width: $sidebar-width;
  height: 100vh;
  background: $sidebar-bgColor;
  position: fixed;
  left: 0;
  top: 0;
  text-align: center;
  z-index: 3;

  .nav {
    height: 100%;

    .nav-item {
      position: relative;

      &:first-child {
        margin: 1.2rem 0;
      }

      &:last-child {
        margin-top: auto;
        margin-bottom: 1.2rem;

      }

      padding: 0.2rem;

      .bi {
        font-size: 1.2rem;
        color: white;
      }
    }
  }
}

.btn-plain {
  background-color: transparent;
  border: none;
}

.nav-button {
  width: 7rem;
  margin-right: 1rem;
}

.sidebar .active {
  border-radius: 5px;
}

.nav-button {
  border-radius: 10px;
  border: #f5f5f5;
}

#main-content {
  padding-left: $sidebar-width;
  width: 100%;
  background-color: #F8F9FA;
  height: 100vh;
}

.navbar-brand {
  margin-left: 1rem;

  img {
    width: 125px;
  }

}

.main-body {
  // display: flex;
  pointer-events: all;
}
