<div class="sidebar">
  <ul class="nav flex-column">
    <li
      class="nav-item"
      *ngFor="let item of menuItems"
      data-toggle="tooltip"
      data-placement="right"
      title="{{ item.name }}"
    >
      <a
        class="nav-link"
        aria-current="page"
        routerLinkActive="active"
        [routerLink]="item.path"
        ><i class="bi {{ item.icon }}"></i
      ></a>
    </li>
  </ul>
</div>

<div class="flex-column" id="main-content">
  <nav
    class="navbar header navbar-expand-lg navbar-light bg-light d-flex flex-row align-items-center"
  >
    <a class="navbar-brand" routerLink="/"><img src="assets/logo.png" /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarText"
      aria-controls="navbarText"
      aria-expanded="false"
      aria-label="Toggle navigation"
    ></button>
    <div
      class="collapse navbar-collapse d-flex justify-content-end"
      id="navbarText"
    >
      <div class="navbar-text ml-auto d-flex flex-row right">
        <div class="dropdown">
          <button
            class="btn btn-plain shadow-none dropdown-toggle"
            id="dropdownMenuButton"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Mogaadi Saif Eddine
          </button>
        </div>
        <button class="bg-danger text-white nav-button">Premuim</button>
      </div>
    </div>
  </nav>
  <div class="mt-3" id="router" [@pageFadeAnimation]="getRouteData()">
    <router-outlet></router-outlet>
  </div>
</div>
