<div class="custom-container">
  <div class="d-flex flex-column">
    <div class="first-section mb-4">
      <h4 (click)="goToaddUSerPage()">Home</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus vel
        nihil fugiat. Aliquid
      </p>
    </div>
    <div class="d-flex flex-row">
      <button
        (click)="goToaddUSerPage()"
        id="new-user-button"
        class="d-flex flex-column"
      >
        <i class="bi bi-plus-lg"></i>
        <p>New user</p>
      </button>
      <div class="recent-users">
        <p>Recent users</p>

        <div class="d-flex flex-row">
          <div *ngIf="loading" class="spinner-border" role="status">
            <span class="sr-only"></span>
          </div>
          <app-user-card
            *ngFor="let user of usersList | slice: 0:6"
            [name]="user.name"
            [status]="user.status"
          >
          </app-user-card>
        </div>
      </div>
    </div>
    <div class="second-section d-flex flex-row align-items-center">
      <div class="news">
        <p>News</p>
        <p>Be update of the app world</p>
        <div id="news-grid">
          <div *ngIf="loading" class="spinner-border" role="status">
            <span class="sr-only"></span>
          </div>
          <app-user-card
            *ngFor="let neww of news | slice: 0:3"
            [name]="neww.title"
            [imgUrl]="neww.imageUrl"
          >
          </app-user-card>
        </div>
      </div>

      <div id="player">
        <div class="third-section d-flex flex-column justify-content-around">
          <p>Tutorials</p>
          <span>Discover how to use the CMS</span>
          <iframe
            class="mt-3 ml-5"
            src="https://www.youtube.com/embed/f1PGyxHXbSQ"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
