<div class="custom-container">
  <div class="d-flex flex-column">
    <div class="first-section mb-4">
      <h4>Create your projec</h4>
      <p>
        Creator CMS is your hub for creating, managing and publishing location
        based tours, games and in-app content to mobile apps.
      </p>
    </div>
    <div class="add-user-card">
      <div class="d-flex flex-column inside-card">
        <form class="pl-2" [formGroup]="fg">
          <div class="name">
            <div class="form-group">
              <label for="exampleInputEmail1">1. Enter User Name</label>
              <input
                type="text"
                formControlName="name"
                class="form-control"
                placeholder="Mohsen Al-Safadi"
              />
            </div>
            <button id="import-button" (click)="toastNotworking()" class="btn">
              <i class="bi bi-file-earmark-person"></i>Import
            </button>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">1. Enter User Email</label>
            <input
              type="text"
              formControlName="email"
              class="form-control"
              placeholder="Mohsen@gmail.com "
            />
          </div>
          <div class="form-group">
            <label for="exampleFormControlSelect1">2. Select Gender</label>
            <select
              class="form-control"
              formControlName="gender"
              id="exampleFormControlSelect1"
            >
              <option *ngFor="let gender of genders" [value]="gender">
                {{ gender }}
              </option>
            </select>
          </div>
        </form>

        <div class="second-section d-flex flex-row align-items-center">
          <div class="news">
            <p>News</p>
            <p>Be update of the app world</p>
            <div id="news-grid"></div>
          </div>
        </div>
        <div (click)="addUser()" id="save-button" class="btn btn-primary">
          Start
        </div>
      </div>
    </div>
  </div>
</div>
