<div class="custom-container">
  <div class="d-flex flex-column">
    <div class="first-section mb-4">
      <h4>Create your projec</h4>
      <p>
        Creator CMS is your hub for creating, managing and publishing location
        based tours, games and in-app content to mobile apps.
      </p>
    </div>
    <div class="d-flex add-user-card flex-column">
      <div class="second-section d-flex flex-row align-items-center">
        <div class="news">
          <p>News</p>
          <p>Be update of the app world</p>
          <div id="news-grid"></div>
        </div>
      </div>
    </div>
  </div>
</div>
